<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8" />
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
  <title> Genealogy Tree </title>

  <!-- item template -->
  <script type="text/x-template" id="item-template">
    <div :class="{node: true, parent: item.isParent, R_conn: item.R && item.R_conn, L_conn: item.L && item.L_conn}">
      <div class="content">
         <div v-if="item.isChild" class="V-conn"><div :class="{T_conn:item.R}"></div><div :class="{T_conn:item.L}"></div></div> 
         <img class="profile-picture" :src="item.pic" alt="Profile picture" width="100" height="100"></img>
         <div class="V-conn"><div></div><div></div></div>
         <div class="profile-label">
           <div title="Expand details" >
             <div class="profile-name-container">
              <label class="profile-name" @click="toggle_details">{{item.full_name}}</label>  
              <i v-if="!isOpen && isParent" title="Expand children" class="fa fa-plus-square fa-lg show-children" @click="toggle"></i>
              <i v-if="isOpen && isParent" title="Expand children" class="fa fa-minus-square fa-lg show-children" @click="toggle"></i>
            </div>
           </div>
         </div>
         <div v-if="isParent && isOpen" class="V-conn"><div></div><div></div></div>
      </div>
      <div v-if="details" class="details">
        <div class="prop-title">ID</div><div class="prop-value">{{item.distributor_id}}</div>
        <div class="prop-title">Username</div><div class="prop-value">{{item.username}}</div>
        <div class="prop-title">Status</div><div class="prop-value">{{item.status}}</div>
        <div class="prop-title">Product Name</div><div class="prop-value">{{item.product_name}}</div>
        <div class="prop-title">Product Name</div><div class="prop-value">{{item.product_name}}</div>
        <div class="prop-title">Category Name</div><div class="prop-value">{{item.category_name}}</div>
      </div>
      <div v-if="isParent && isOpen" class="children">
       <div v-if="item.has_right && !item.has_left" style="width: 200px; height: 200px;"></div>
       <tree-item v-if="item.has_left" :item="item.left"></tree-item>
       <div v-if="item.has_left && !item.has_right" style="width: 200px; height: 200px;"></div>
       <tree-item v-if="item.has_right" :item="item.right"></tree-item>
      </div>
    </div>
  </script>

 </head>
 <body>
   <div>
     <div class="Title"><h1>Genealogy Tree<h1></div>
     <div id="GenealogyTree">
      <tree-item id="root" :item="root"> </tree-item>
     </div>
   </div>
 </body>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="Daxcsa.js"></script>
  <script src="logic.js"></script>
</html>
