body{
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  font-family: Verdana, sans-serif;
  font-weight: lighter;
  overflow: auto;
}
.Title{
  width: 100%;
  margin: 1em;
  text-align: center;
}
#GenealogyTree{
  display:grid;
  width: 100%;
}
.content{
  width: 200px;
  height: 200px;
  justify-self: center;
  display:grid;
  overflow: hidden;
  margin-left: 0.5em;
}
.L_conn{
  background-image: linear-gradient(270deg, purple 40%, #fff 50%);
  background-size: 100% 3px;
  background-position: top right;
  background-repeat: no-repeat;
}
.R_conn{
  background-image: linear-gradient(90deg, purple 50%, #fff 50%);
  background-size: 100% 3px;
  background-position: top left;
  background-repeat: no-repeat;
}
.T_conn{
  border-top: 3px solid purple;
}
.V-conn{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
.V-conn div{
  width: 100%;
  height: 20px;
}
.V-conn div:first-child {
  border-right: 3px solid purple;
}
.V-conn div:last-child{
  border-left: 3px solid purple;
}

.profile-picture{
 border-radius: 50px;
 justify-self: center;
}
.profile-label{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  text-align:center;
}
.profile-name{
  justify-self: center;
  text-align: center;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  color:white;
}
.profile-name-container{
  background: #0047d0;
  padding: 0.5em;
  color:white;
}
.show-children{
  cursor:pointer;
  margin-left: 0.5em; 
  color: aqua;
}

.node{
  display:grid;
  grid-template-rows: 200px auto;
  grid-template-columns: 1fr;
}
.parent{
  justify-self: center;
}
.children{
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.details{
  justify-self: center;
  min-width: 200px;
  background: aqua;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr 1fr;
  color: black;
  justify-items: stretch;
  align-items: stretch;
  text-align: center;
}
.prop-title{
  display: grid;
  align-items: center;
  background: white; 
  color: black;
  margin: 5px;
  grid-template-rows: auto;
  padding: 5px;
  font-weight: bold;
}
.prop-value{
  display: grid;
  align-items: center;
  grid-template-rows: auto;
  background: white;
  color: #0a003e;
  font-weight: bold;
  margin: 5px;
  padding: 5px;
}
